@page "/contacts"

     <div class="containers">
           <h2>Контакты</h2>
            Адрес: м. Волгоградский проспект, Остаповский проезд, дом 9.
            Территория 1го автокомбината  109316 Москва,
            <p>Телефон: +7 (495) 968-74-43</p>
            <p>Моб.: +7 (962) 992-32-85 </p> 
            <p>Электронная почта: carrep@mail.ru</p>
            <p>Время работы с 10.00 до 20.00 ежедневно. </p>
            <p>На развязке  Волгоградский проспект-Люблинская улица  выехать в сторону  Грайвороновской улицы , затем переехав  одностороннюю эстакаду Люблинская улица-Остаповский проезд выехать на Остаповский проезд.</p>
            <p>Подробности и нюансы проезда вы можете уточнить у наших менеджеров по телефонам указанным выше.</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d794.5068893109468!2d37.71217140383341!3d55.720192315954996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414ab52526313f7f%3A0x2af407178ff689a2!2z0KDQtdC80L7QvdGCINGN0LvQtdC60YLRgNC-0LTQstC40LPQsNGC0LXQu9C10Lk!5e0!3m2!1sru!2sru!4v1653501082356!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
   </div>