@page "/"

<header>
   <div class="cont">
           <div class="headline">
         <span class="letter">
             <strong>
           <center>Диагностика, ремонт и <br>
        техническое обслуживание <br>
         автомобилей.</center>
       </strong>
         </span>
      </div>
       <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <center><a  target="_blank" href="./img/1.6.jpg"><img src="./img/1.6.jpg" alt="1.6" title="1.6" width="55" height="50"></a>OPEL</center>
            </div>
            <div class="col-lg-4">
              <center><a  target="_blank" href="./img/1.7.png"><img src="./img/1.7.png" alt="1.7" title="1.7" width="55" height="50"></a>MITSUBISHI</center>
            </div>
            <div class="col-lg-4">
              <center><a  target="_blank" href="./img/1.8.jpg"><img src="./img/1.8.jpg" alt="1.8" title="1.8" width="55" height="50"></a>KIA</center>
            </div>
          </div>
       </div>
    </div>
</header>

 
