@page "/information"

      <div class="containers">
           <h2>О сервисе:</h2>
           Мы рады будем помочь Вам осуществить ремонт и техническое обслуживание вашего автомобиля в кратчайшие сроки и с минимальными затратами. Наши специалисты быстро и квалифицированно подберут для Вашего автомобиля необходимые комплектующие и запасные части. К Вашим услугам широкий ассортимент оригинальных запасных частей в наличии на складе Компании, при отсутствии нужной детали на складе, заказ и доставка осуществляется в сжатые сроки.  На все работы по ремонту автомобилей предоставляется гарантия. 
           <p>Приоритетное направление  — укрепление репутации  нашей Компании как стабильного предприятия и завоевание доверия клиентов, достигаемое за счет:</p>
           <ul>
               <li>применения эффективной системы менеджмента качества в соответствии с принципами и требованиями международных стандартов ИСО серии 9000-2000;</li>
               <li>перспективного планирования работы структурных подразделений Компании;</li>
               <li>создания благоприятной корпоративной среды, в которой каждый сотрудник уверен в своей ценности для Компании;</li>
               <li>постоянного повышения профессионального уровня персонала;</li>
               <li>использования для ремонта автотранспорта запасных частей и комплектующих, рекомендованных заводами-изготовителями;</li>
               <li>снижение количества рекламаций;</li>
               <li>персональной ответственности каждого сотрудника Компании, от рабочего до Генерального директора, за качество выполненной работы.</li>
           </ul>
      </div>

      <p>

      </p>

      <div class="photos">
           <a  target="_blank" href="./img/1.1.jpg"><img src="./img/1.1.jpg" alt="1.1" title="1.1" width="300" height="220"></a>
           <a  target="_blank" href="./img/1.2.jpg"><img src="./img/1.2.jpg" alt="1.2" title="1.2" width="300" height="220"></a>
           <a  target="_blank" href="./img/1.4.jpg"><img src="./img/1.4.jpg" alt="1.4" title="1.4" width="300" height="220"></a>
           <p>

           </p>
           <a  target="_blank" href="./img/1.9.jpg"><img src="./img/1.9.jpg" alt="1.9" title="1.9" width="300" height="220"></a>
           <a  target="_blank" href="./img/1.10.jpg"><img src="./img/1.10.jpg" alt="1.10" title="1.10" width="300" height="220"></a>
           <a  target="_blank" href="./img/1.11.jpg"><img src="./img/1.11.jpg" alt="1.11" title="1.11" width="300" height="220"></a>
      </div>