@page "/product"

<div class="containers">
    <h2>Информация об услуге</h2>
    <a  target="_blank" href="./img/1.12.jpg"><img src="./img/1.12.jpg" alt="1.12" title="1.12" width="400" height="320"></a>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Название услуги</th>
      <th scope="col">Цена</th>
      <th scope="col">Длительность(дни)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Замена двигателя</td>
      <td>4500</td>
      <td>3</td>
    </tr>
  </tbody>
</table>
<p>Замена двигателя трудоемкий и кропотливый процесс. Замена происходит в течении трех рабочих дней, однако длительность может менятся. Проводится профессионалами.</p>
</div>