@page "/services"
@using AutoRepApp.Data.Components.ServicesList

     <div class="containers">
       <h2>Техническое обслуживание</h2>
       <p>Расчет цен производится в индивидуальном порядке с учетом характера проблемы, модификации и возраста авто, а также сложности работ и прочих факторов.</p>
       <PageTitle>Services</PageTitle>

        <table class="table table-hover">
  <thead>
      <tr>
      <th scope="col">ID</th>
      <th scope="col">Название усуги</th>
      <th scope="col">Цена</th>
    </tr>
  </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td><a class="tab" href="product">Замена двигателя</a></td>
      <td>4500</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><a class="tab" href="product">Замена бензобака</a></td>
      <td>2500</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><a class="tab" href="product">Замена свечей зажигания</a></td>
      <td>850</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td><a class="tab" href="product">Ремонт стартера</a></td>
      <td>3000</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td><a class="tab" href="product">Замена амортизатора</a></td>
      <td>1600</td>
    </tr>
  </tbody>
</table>

   </div>